/* src/App.css or index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom base layout tweaks */
html,
body {
  overflow-x: hidden;
}
/* Remove horizontal scrollbar */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
