
@tailwind base;
@tailwind components;
@tailwind utilities;

.perspective-1000 {
  perspective: 1000px;
}


/* Add this to your global CSS or reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
}

.navbar {
  margin-bottom: 0; /* or a smaller value */
}

.next-section {
  margin-top: 0;
}

body {
  padding-top: 0px; /* Adjust based on your navbar height */
}
.text-shadow-sm {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}
